a:link{
    color: brown;
}
a:visited{
    color: grey;
}
a:hover{
    color: tomato;
}
a:active{
    color:yellow
}
button:hover{
    color: red;
    background-color: aqua;
    border-color: tomato;   
}
/*
li:nth-child(10){
    background-color: yellow;
}

li:nth-child(even){
    background-color: blue;
}
li:nth-child(odd){
    background-color: blueviolet;
}
    */
li:nth-child(2n+1){
    background-color: brown;
}
